@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.ingredient-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
  align-items: center;
}

.detailed-ing-in-metrics {
  background-color: #fff;
  width: 75%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
}

.ingredient-container > .detailed-ing-in-metrics {
  margin: 10px;
}

.exit-btn-contain {
  margin-right: 69%;
  font-size: 25px;
}
