

.detailed-ing-pixel {
  width: 100px;
  height: 100px;
}

.name-details, .original-name-details, .detail-original, .measure-amount {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  width: auto;
}


img {
  cursor: zoom-in;
  display: block;
  max-width: auto;
  margin: auto;
}

img.zoomed {
  cursor: zoom-out;
}

.frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: white;
  transform: translateZ(0);
}

.ingredient-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
  align-items: center;
}

.detailed-ing-in-metrics {
  background-color: #fff;
  // max-width: 75%;
  width: 75%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
}

.ingredient-container > .detailed-ing-in-metrics {
  margin: 10px;
}

.exit-btn-contain {
  margin-right: 69%;
  font-size: 25px;
}
