.guest-page-dashboard {
  display: grid;
  width: 98%;
  margin: 0 auto;
  grid-template-columns: 60% 40%;
  grid-column-gap: 10px;
  overflow-x: hidden;
  background-color: transparent;
}

@media screen and (max-width: 970px) {
  .guest-page-dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .guest-page-dashboard > .recipe-contain, .player {
    margin: 10px;
  }
}

@media screen and(max-width: 590px) {

}