@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.guest-page-dashboard {
  width: 50%;
  margin:0;
  padding: 0;
}

.recipe-contain {
  width: 75%;
  display: grid;
  grid-template-columns: 36.5%, 36.5%;
  margin: 0 auto;
  padding: 25px;
  background-color: #20576E;
  color: #fff;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(255,138,73,0.74); 
  box-shadow: 0px 0px 9px 2px rgba(255,138,73,0.74);
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 16px 3px rgba(80,61,39,0.56); 
  box-shadow: 1px 1px 16px 3px rgba(80,61,39,0.56);
}

.ingredient-button{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.ingredient-button > .food, .summary{
  margin: 8px;
}

.summary {
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.food {
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.sprinkle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  cursor: pointer;
}

.food-title {
  font-family: 'Handlee', cursive;
  text-align: center; 
}

.instructions {
  font-family: 'Handlee', cursive;
  text-align: left;
  max-height: 300px;
  overflow: auto;
}